/* rem an em don't depend on html font-size in media queries, instead: 1rem = 1em = 16px */

/* ********************************** */
/* BELLOW 1344px (Smaller Desktop) */
/* ********************************** */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
    gap: 6.4rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ********************************** */
/* BELLOW 1200px (Landscape Tablets) */
/* ********************************** */

@media (max-width: 75em) {

  html {
    font-size: 56.25%;
  }

  .grid {
    display: grid;
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .navigation-list {
    gap: 3.2rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
    margin-bottom: 6.4rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .testimonials-container {
    padding: 9.6rem 4.8rem
  }
}

/* ********************************** */
/* BELLOW 944px (Tablets) */
/* ********************************** */

@media(max-width: 59em) {

  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .hero-img {
    width: 60%;
  }

  .featured-img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 6.2rem
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem
  }

  .meal-attributes {
    gap: 2.4rem
  }


  .section-testimonials {
    grid-template-columns: 1fr
  }

  .testimonials-container {
    padding: 6.4rem 3.2rem;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .pricing-plan {
    width: 90%;
  }

  .pricing-header {
    margin-bottom: 4.8rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 2.4rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 2;
  }

  .main-navigation {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.925);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    /* Hide the navigation visually */
    opacity: 0;
    /* Hide the navigation from screen readers */
    visibility: hidden;
    /* Stop all mouse and keyboard events */
    pointer-events: none;
    transform: translateX(100%);

  }

  .navigation-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }

  .nav-open .main-navigation {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }
}

/* ********************************** */
/* BELLOW 704px (SMALLER TABLETS) */
/* ********************************** */

@media(max-width: 44em) {

  .section-meals,
  .section-how,
  .section-pricing,
  .section-cta,
  .section-footer {
    padding: 6.4rem 0;
  }

  .hero-img {
    width: 70%;
  }

  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets-list {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .pricing-plan {
    width: 100%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }

  .nav-col {
    grid-row: 1;
    grid-column: span 2
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }
}

/* ********************************** */
/* BELLOW 544px (PHONES) */
/* ********************************** */

@media(max-width: 34em) {

  .grid--2--cols,
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
  }

  .grid {
    column-gap: 1.8rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .section-hero {
    padding: 3.2rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    font-size: 2.2rem;
    padding: 1.4rem 1.6rem;
  }

  .hero-img {
    width: 80%;
  }

  .featured-img {
    height: 1.4rem;
  }

  /* .section-meals,
  .section-how,
  .section-pricing,
  .section-cta,
  .section-footer {
    padding: 3.2rem 0;
  } */

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(3.2rem);
  }

  .meal {
    width: 85%;
    justify-self: center;
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .pricing-plan {
    width: 85%;
    justify-self: center;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    background-size: cover;
    height: 32rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

}


/* 
- Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/